<h1>Subjects edit</h1>

<%= form_for(@subject, :method => 'delete') do |f| %>
<table>
    <tr>
        <td>Name :</td><td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
        <td>Position :</td><td><%= f.number_field(:position) %></td>
    </tr>
    <tr>
        <td>Visible :</td><td><%= f.text_field(:visible) %></td>
    </tr>
    <tr>
    <td><%= submit_tag("Delete Subject") %></td>
    </tr>
</table>
<% end %>